# игнорирование каталога tmp:
tmp/

# игнорирование файлов с определенным суффиксом:
*_old
*_backup

# игнорирование файла с расширением .DS_Store:
*.ds_store

# игнорирование файла Thumbs.db:
thumbs.db